In [42]:
import string
import matplotlib.pyplot as plt
from matplotlib.backends.backend_tkagg import FigureCanvasTkAgg
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LinearRegression
from sklearn.metrics import classification_report,confusion_matrix
from sklearn import metrics
from sklearn import tree

In [43]:
df = pd.read_csv("student_data - Copy(in) (1).csv",encoding='latin-1')
df.head()

,school,sex,age,Medu,Fedu,traveltime,studytime,famsup,activities,internet,famrel,goout,health,absences,G1,G2,G3,GPA
0,GP,F,18,4,4,2,2,no,no,no,4,4,3,6,5,6,6,1.133333
1,GP,F,17,1,1,1,2,yes,no,yes,5,3,3,4,5,5,6,1.066667
2,GP,F,15,1,1,1,2,no,no,yes,4,2,3,10,7,8,10,1.666667
3,GP,F,15,4,2,1,3,yes,yes,yes,3,2,5,2,15,14,15,2.933333
4,GP,F,16,3,3,1,2,yes,no,no,4,2,5,4,6,10,10,1.733333

In [44]:
df['sex'] = df['sex'].map({'F':0, 'M':1})
df['school'] = df['school'].map({'GP':1, 'MS':0})
df['internet'] = df['internet'].map({'yes':1, 'no':0})
df['famsup'] = df['famsup'].map({'yes':1, 'no':0})
df['activities'] = df['activities'].map({'yes':1, 'no':0})
df.head()

,school,sex,age,Medu,Fedu,traveltime,studytime,famsup,activities,internet,famrel,goout,health,absences,G1,G2,G3,GPA
0,1,0,18,4,4,2,2,0,0,0,4,4,3,6,5,6,6,1.133333
1,1,0,17,1,1,1,2,1,0,1,5,3,3,4,5,5,6,1.066667
2,1,0,15,1,1,1,2,0,0,1,4,2,3,10,7,8,10,1.666667
3,1,0,15,4,2,1,3,1,1,1,3,2,5,2,15,14,15,2.933333
4,1,0,16,3,3,1,2,1,0,0,4,2,5,4,6,10,10,1.733333

In [45]:
df.columns

Index(['school', 'sex', 'age', 'Medu', 'Fedu', 'traveltime', 'studytime',
       'famsup', 'activities', 'internet', 'famrel', 'goout', 'health',
       'absences', 'G1', 'G2', 'G3', 'GPA'],
      dtype='object')